*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px;
    
    display: grid;
    grid-template-columns: 50% 24% 24%;
    grid-template-rows: 370px 250px;
    background: blue;
    padding: 20px;
    column-gap: 15px;
    row-gap: 15px;
}
.title{
    font-size: 20px;
    font-weight: 550;
    color: blue;
    border-bottom: 2px solid #deeaec;
    width: 90%;
    margin:0 20px;
    padding: 10px 0;
}

/* goals */
.container .goals{
    
    background: #f0f8ff;
}
.goals-nd{
    padding-top: 10px;
}
.nd-goals{
    border-bottom: 1px solid #deeaec;
    width: 90%;
    margin:0 20px;
}
.goals-nd .icon-flag-checkered{
    float: left;
    padding: 10px 50px;
    height: 40px;
    font-size: 25px;
}
.goals-nd .nd-goals ul li{
    list-style-type: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.goals-nd .nd-goals ul li:first-child{
    font-size: 15px;
    font-weight: 600;
}

/* team */
.container .team{
    
    background: #f0f8ff;
   
}
.team-nd{
    padding-top: 10px;
}
.nd-team{
    
    width: 90%;
    margin:0 20px;
}
.team-nd .icon-user{
    float: left;
    padding: 10px 30px;
    height: 40px;
    font-size: 23px;
}
.team-nd .nd-team ul li{
    list-style-type: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.team-nd .nd-team ul li:first-child{
    font-size: 15px;
    font-weight: 600;
}



/* timeline */
.container .timeline{
    background: #f0f8ff;
    /* grid-column-start: 3;
    grid-column-end: 3; */
    grid-column: 3/3;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
}
.timeline-nd{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 20% 70%;
}
.timeline-nd .int{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
    background: #9e88ff;
}
.timeline-nd p{
    margin-left: 25%;
    margin-top: 7px;
    font-size: 20px;
    color: #f0f8ff;
}
.nd-timeline{
    
    width: 90%;
    margin:0 20px;
    border-bottom: 1px dashed blue;
}
.timeline-nd .icon-user{
    /* float: left; */
    padding: 10px 30px;
    height: 40px;
}
.timeline-nd .nd-timeline ul li{
    list-style-type: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
  
    
}
.timeline-nd .nd-timeline ul li:first-child{
    font-size: 15px;
    font-weight: 600;
}


/* scopes */
.container .scopes{
    
    background: #f0f8ff;
}
.container .scopes .in{
    float: left;
    width: 50%;
}
.container .scopes .in ul li{
    list-style-type: none;
   padding-top: 5px;
    padding-left: 40px;
    font-size: 14px;
}
.container .scopes .in ul li:first-child{
    font-weight: 600;
    padding: 10px 0;
    padding-left: 40px;
    font-size: 15px;
}
.container .scopes .out ul li{
    list-style-type: none;
   padding-top: 5px;
    padding-left: 40px;
    font-size: 14px;
}
.container .scopes .out ul li:first-child{
    font-weight: 600;
    padding: 10px 0;
    padding-left: 40px;
    font-size: 15px;
}

/* primary */
.container .primary{
    
    background: #f0f8ff;
}
.primary-nd{
    padding-top: 10px;
}
.nd-primary{
    width: 90%;
    margin:0 20px;
}
.primary-nd .icon-question{
    float: left;
    padding: 10px 30px;
    height: 40px;
    font-size: 20px;
}
.primary-nd .nd-primary ul li{
    list-style-type: none;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
